/* Global Styles */

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #F0ECE5;
}
h1 {
  color: #f0ece5;
}

.container {
  width: 80%;
  margin: 0 auto;
  padding: 20px;
}

/* Header */

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: "Poppins", sans-serif;
    --color1: #F0ECE5;
    --color2: #161A30;
}
.nav-bar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    position: relative;
    background-color: var(--color2);
    padding: 12px 20px;
}
.logo img {width: 40px;}
.menu {display: flex;}
.menu li {padding-left: 30px;}
.menu li a {
    display: inline-block;
    text-decoration: none;
    color: var(--color1);
    text-align: center;
    transition: 0.15s ease-in-out;
    position: relative;
    text-transform: uppercase;
}
.menu li a::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 1px;
    background-color: var(--color1);
    transition: 0.15s ease-in-out;
}
.menu li a:hover:after {width: 100%;}
.open-menu , .close-menu {
    position: absolute;
    color: var(--color1);
    cursor: pointer;
    font-size: 1.5rem;
    display: none;
}
.open-menu {
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}
.close-menu {
    top: 20px;
    right: 20px;
}
#check {display: none;}
@media(max-width: 610px){
    .menu {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 80%;
        height: 100vh;
        position: fixed;
        top: 0;
        right: -100%;
        z-index: 100;
        background-color: var(--color2);
        transition: all 0.2s ease-in-out;
    }
    .menu li {margin-top: 40px;}
    .menu li a {padding: 10px;}
    .open-menu , .close-menu {display: block;}
    #check:checked ~ .menu {right: 0;}
}

/* Hero Section */

.hero {
  background-color: #b6bbc4;
  text-align: center;
  padding: 100px 0;
}

.hero h2 {
  margin-top: 0;
  color: #161a30;
}
.hero p {
  color: #161a30;
}

.btn {
  display: inline-block;
  background-color: #31304d;
  color: #f0ece5;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  margin-top: 20px;
}

.btn:hover {
  background-color: #5c5a84;
}

/* Footer */

footer {
  background-color: #161A30;
  color: #F0ECE5;
  text-align: center;
  padding: 20px 0;
  margin-top: 50px;
}

.services .container {
  display: flex;
  justify-content: center;
}

.service-list {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  padding: 0;
}

.service-list li {
  width: 30%; /* Adjust this value for spacing */
  margin: 1.5%; /* Adjust this value for spacing */
  text-align: center;
}

.service-list li h3 {
  margin-top: 10px;
}

.service-list li img {
  width: 100%;
  max-width: 200px; /* Adjust this value for image size */
  height: auto;
}
